@model CodeBlog.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-md-5 py-5">
    <div class="row justify-content-center align-items-center">
        <!-- Content Column -->
        <div class="col-md-7 text-center">
            <h1 class="display-4 fw-bold lh-1 mb-3" style="font-size: 3.5rem;">
                <span style="color: #0EA5E9; font-size: inherit;">CodeBlog</span> - Dive into Insightful<br /> Coding Articles<br />
                <img src="~/rocket.svg" alt="Icon" width="80" height="80">
            </h1>
            <p class="lead text-center text-muted fs-5" style="font-weight: 700;">
                Dive into <span class="text-dark font-weight-bold">JavaScript</span>, <span class="text-dark font-weight-bold">ASP.NET</span>, <span class="text-dark font-weight-bold">Web API,</span> and more with <span class="text-dark font-weight-bold">CodeBlog</span>
            </p>
            <a  class="btn btn-dark mt-3" style="font-size: 1.3rem;" asp-controller="Home" asp-action="AllBlogs">All Blogs <i class="bi bi-arrow-right text-white m-2"></i></a>
        </div>

        <!-- Image Column -->
        <div class="col-md-5 text-center">
            <img src="~/desktop.webp" alt="Other Picture" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>


@* 
<div class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center px-4 py-5">
    <div class="row align-items-center g-5 h-100">
        <div class="col-12 text-center">
            <h1 class="display-4 fw-bold lh-1 mb-3" style="font-size: 4rem;">
                <span style="color: #0EA5E9; font-size: inherit;">CodeBlog</span> - Dive into Insightful<br /> Coding Articles<br />
                <img src="~/rocket.svg" alt="Icon" width="80" height="80">
            </h1>

            <div class="mb-5"></div><!-- Add space between h1 and p -->
            <p class="lead text-center text-muted fs-5" style="font-weight: 700;">
                Dive into <span class="text-dark font-weight-bold">JavaScript</span>, <span class="text-dark font-weight-bold">ASP.NET</span>, <span class="text-dark font-weight-bold">Web API,</span> and more with <span class="text-dark font-weight-bold">CodeBlog</span>
            </p>
            <div class="mb-5"></div><!-- Add space between h1 and p -->
            <a href="#" class="btn btn-dark mt-3 " style="font-size:1.3rem;">Explore Now <i class="bi bi-arrow-right text-white m-2"></i></a>
        </div>

        

    </div>
</div>

 *@

@* <div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if(Model !=null && Model.Tags.Any())
            {
                foreach(var tag in Model.Tags)
                {
                   
                    <span>
                        <a class="badge bg-dark me-1 text-decoration-none" asp-controller="Home" asp-action="SearchByTag" asp-route-tag="@tag.Name">@tag.Name</a>
                    </span>
                }
            }
        </div>

    </div>
</div> *@






<div class="container-fluid mb-5 bg-dark text-center p-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="get" asp-controller="Home" asp-action="Index" class="row g-3 justify-content-center">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="searchQuery" placeholder="Search query" value="@ViewBag.SearchQuery" />
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" name="selectedDate" value="@ViewBag.SelectedDate" id="selectedDate" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-warning btn-block">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <!-- Using Bootstrap grid classes for grid layout -->
                @if (Model != null && Model.BlogPosts.Any())
                {
                    foreach (var blogPost in Model.BlogPosts)
                    {
                        <div class="col mb-4">
                            <div class="card h-100 shadow">
                                <!-- Added Bootstrap shadow class -->
                                <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="card-img-top" style="object-fit: cover; height: 200px; border-top-left-radius: 10px; border-top-right-radius: 10px;" />
                                <div class="card-body d-flex flex-column">
                                    <!-- Use flex-column to ensure button aligns to bottom -->
                                    <h5 class="card-title">@blogPost.Heading</h5>
                                    <p class="card-text mb-2">Author: @blogPost.Author<br />Published Date: @blogPost.PublishedDate</p>
                                    <div class="mb-2">
                                        @foreach (var tag in blogPost.Tags)
                                        {
                                            <span class="badge bg-secondary me-1">@tag.Name</span>
                                        }
                                    </div>
                                    <div class="flex-grow-1">
                                        <!-- Use flex-grow-1 to make this div take remaining space -->
                                        <!-- Check if description exists -->
                                        @if (!string.IsNullOrWhiteSpace(blogPost.ShortDescription))
                                        {
                                            <p class="card-text" style="height: 60px; overflow: hidden;">@blogPost.ShortDescription</p>
                                        }

                                        else
                                        {
                                            <div style="height: 60px; width: 100%;"></div>
                                        }
                                    </div>
                                    <a asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandle" class="btn btn-dark mt-auto">Read More</a>
                                </div>
                            </div>
                        </div>
                    }

                    //all blogs button
                    <a class="btn btn-dark mt-3 btn-block w-100 mb-5" style="font-size: 1.3rem;" asp-controller="Home" asp-action="AllBlogs">
                        <div class="d-flex align-items-center justify-content-center">
                            <span>All Blogs</span>
                            <i class="bi bi-arrow-right text-white m-2"></i>
                        </div>
                    </a>


                }
                else
                {
                    <div class="col">
                        <p>No Result Found</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
        <script>
            // Get today's date
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;

            // Set min attribute of the date input to today's date
            document.getElementById('selectedDate').max = today;
        </script>
}