@model CodeBlog.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">CodeBlog - The Dev Blog</h1>
            <p class="lead">CodeBlog covers the topic like JS , Asp.Net , Asp.Net Web API etc.</p>
        </div>


       @*  right hand side *@
       @*  <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/dauoezlnr/image/upload/v1711882213/lupvbsqgse6mpilj1rv9.png" alt="CodeBlog - Dev Blog" class="d-block mx-lg-auto img-fluid" width="300" />
        </div> *@

    </div>
</div>




<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if(Model !=null && Model.Tags.Any())
            {
                foreach(var tag in Model.Tags)
                {
                    @* <span class="badge bg-dark me-1"></span> *@
                    <span>
                        <a class="badge bg-dark me-1 text-decoration-none" asp-controller="Home" asp-action="Index" asp-route-tag="@tag.Name">@tag.Name</a>
                    </span>
                }
            }
        </div>

    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <!-- Added row and justify-content-center -->
        <div class="col-md-6">
            <!-- Adjusted column width to center the form -->
            <form method="get" asp-controller="Home" asp-action="Index">
                <div class="input-group mb-3">
                    <!-- Added input-group for better alignment -->
                    <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if(Model !=null && Model.BlogPosts.Any())
            {
                foreach(var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <div>
                            <img  src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-2 d-block img-fluid"/>
                            <h2 class="mb-4"> @blogPost.Heading</h2>
                            <p class="mb-4">Author : @blogPost.Author 
                                <br />
                                Published Date : @blogPost.PublishedDate
                            </p>


                            @* show tags *@
                            <p class="bb-4">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </p>
                            <p class="mb-4">
                                @blogPost.ShortDescription
                            </p>

                            <a class="btn btn-dark" asp-area="" 
                                asp-controller="Blogs"
                               asp-action="Index"
                               asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                        </div>
                    </div>

                }
            }
        </div>
    </>
</div>