@model List<CodeBlog.Models.Domain.BlogPost>
@{
    ViewData["Title"] = "Blog";
}



<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="get" asp-controller="Home" asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Any())
            {
                foreach (var blogPost in Model)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <div>
                            <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-2 d-block img-fluid" />
                            <h2 class="mb-4">@blogPost.Heading</h2>
                            <p class="mb-4">Author: @blogPost.Author <br /> Published Date: @blogPost.PublishedDate</p>

                            <p class="bb-4">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </p>
                            <p class="mb-4">@blogPost.ShortDescription</p>

                            <a class="btn btn-dark" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
