@model List<CodeBlog.Models.Domain.Tag>
@{
    var nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    var prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Tags - Admin Functionality</h1>
    </div>
</div>

<form method="get" asp-controller="AdminTags" asp-action="List">
    <div class="container mt-5">
        <div class="col col-md-3 d-flex">
            <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
            <button type="submit" class="btn btn-warning ms-3">Search</button>
        </div>

    </div>
</form>

<div class="container py-5" >
    @if(Model!=null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="Name" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"><i class="bi bi-arrow-up"></i></a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="Name" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"><i class="bi bi-arrow-down"></i></a>
                            </span>
                        </span>
                    </th>
                    <th>Display Name
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="DisplayName" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.SearchQuery"><i class="bi bi-arrow-up"></i></a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="DisplayName" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.SearchQuery"><i class="bi bi-arrow-down"></i></a>
                            </span>
                        </span>
                    </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                   <tr>
                       <td>@item.Id</td>
                       <td>@item.Name</td>
                       <td>@item.DisplayName</td>
                       <td>
                           <a asp-controller="AdminTags" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                       </td>
                   </tr>
                }
            </tbody>
        </table>


        //pagination
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@prevPage" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="@ViewBag.ShortBy" asp-route-sortDirection="@ViewBag.SortDirection">Previous</a></li>
                @for(var i =1;ViewBag.TotalPages>=i;i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-shortBy="@ViewBag.ShortBy" asp-route-sortDirection="@ViewBag.SortDirection">@i</a></li>
                }


                <li class="page-item"><a class="page-link" asp-controller="AdminTags" asp-action="List" asp-route-pageNumber="@nextPage" asp-route-pageSize="@ViewBag.Pagesize" asp-route-shortBy="@ViewBag.ShortBy" asp-route-sortDirection="@ViewBag.SortDirection">Next</a></li>
            </ul>
        </nav>
    }
    else
    {
        <p>No Tags Found !</p>
    }
</div>